*,
*::before,
*::after {
    box-sizing: border-box;
}


/* font-family: 'Commissioner', sans-serif;
    font-family: 'Fraunces', serif; */


body {
    display: grid;
    grid-template-areas:
        "navbar"
        "header"
        "intro"
        "contact";
    font-family: 'Commissioner', sans-serif;
}

.banner {
    height: 700px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/pass.jpg");
    background-size: cover;
    background-position: right 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10%;
}

.info {
    gap: 5%;
    margin: 7%;
}

.description {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #283618;
    padding: 15px;
    width: auto;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: all 400ms ease-out;
}

.button:hover,
.button:focus {
    background-color: #606c38;
    color: white;
}

.more-info {
    font-size: medium;
    padding-bottom: 15px;
}

.extra {
    background-color: #FEFAE0;
    text-align: center;
}

.vertical-line {
    width: 7px;
    height: 50%;
    background-color: #283618;
    border-radius: 5px;
}

/* for desktop */
@media only screen and (min-width: 768px) {
    .info {
        gap: 1rem;
        margin: 5% 15% 5% 15%;
    }

    .vertical-line {
        width: 7px;
        height: 100%;
        background-color: #283618;
        border-radius: 5px;
    }

    .description {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
    }
}