*,
*::before,
*::after {
    box-sizing: border-box;
}

/*color palette: https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25 */
/* font-family: 'Commissioner', sans-serif;
    font-family: 'Fraunces', serif; */


body {
    display: grid;
    grid-template-rows: auto, auto, auto, auto;
    grid-template-areas:
        "navbar"
        "header"
        "intro"
        "contact";
    font-family: 'Commissioner', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces', serif;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.banner {
    height: 700px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/stacked.jpg");
    background-size: cover;
    background-position: right 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10%;
}

/* img {
    object-fit: cover;
    opacity: 0.4;
} */

.company-name {
    color: white;
    /* padding: 2%; */
    border-radius: 10px;
}

.motto {
    color: white;
    /* padding: 2%; */
    border-radius: 10px;
    font-family: 'Commissioner', serif;
}

.check-it-out {
    background-color: #283618;
    color: white;
}

main {
    grid-area: intro;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav {
    background-color: #283618;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    position: relative;
}

/* source: https://codepen.io/jstn/pen/mdoOZJ  */
nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav a:hover {
    color: white;
}

nav a:hover:after {
    width: 100%;
    left: 0;
}


/* for mobile view */

/* .ham {
    align-self: flex-end;
    padding-right: 10px;
}

.hamburger {
    display: block;
    height: 5px;
    width: 30px;
    margin: 5px;
    background: black;
    border-radius: 5px;
} */