*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sofia-pro-soft, sans-serif;
}


body {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header"
        "buttons"
        "form"
        "footer";
    row-gap: 20px;
}


header,
footer {
    background-color: #5B2E48;
    color: white;
}

header {
    grid-area: header;
    display: flex;
    gap: 20px;
    padding: 5% 5% 5%;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 5%;
}

input {
    border: 1px solid;
    padding: 15px;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 8% 2%;
}

a {
    text-decoration: none;
    color: black;
    transition: all 400ms;
}


.link {
    background-color: #4DCCBD;
    padding: 15px 7%;
    border-radius: 5px;
    transition: all 400ms;
}

.link:hover {
    background-color: #2374AB;
}

.link:hover a {
    color: white;
}


.contact-form {
    grid-area: form;
    background-color: rgb(248, 248, 248);
    padding: 0 20px 20px;
    margin: 5% 2% 0 2%;
    border: 1.5px solid #d6d6d6;
}

form {
    display: flex;
    flex-direction: column;
    height: 325px;
    justify-content: space-around;
}

input {
    width: 100%;
}


.submit {
    font-family: sofia-pro-soft, sans-serif;
    text-align: center;
    width: 100%;
    padding: 15px;
    border: transparent;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4DCCBD 33%, #2374AB);
    background-size: 100% auto;
    background-position: 100% 0;
    transition: all 0.75s ease-in-out;
}

.submit:hover {
    color: white;
    background-size: 600% auto;
    background-position: 100% 0;
}

.svg-icon {
    width: 50px;
}

.cls-1,
.cls-3 {
    fill: white;
}

.cls-1,
.cls-3,
.cls-4 {
    stroke: white;
    stroke-miterlimit: 10;
}

.cls-1 {
    stroke-width: 3px;
}

.cls-2 {
    fill: #FF8484;
}

.cls-3 {
    stroke-width: 2px;
}

.cls-4 {
    fill: none;
    stroke-width: 10px;
}

@media (min-width: 820px) {
    main {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "buttons form"
            ". form";
    }

    .buttons {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        margin: 8% 2% 0 2%;
        gap: 20px;
    }

    .link {
        width: 100%;
    }

    .contact-form {
        display: inline-grid;
        margin: 2% 2% 0 2%;
    }
}